
/* removed padding, margin and added border-box */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Removed coranavirus info */
.alert-info{
    display: none;    
}

/* Change btn design*/

a.btn{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert-info{
    display: none;    

}

.btn{
    border-radius: 10px;
    margin-top: 10px;
    
}

.btn.btn-small.dropdown-toggle{
    border-radius: 10px;
}

.breadcrumb.small_margin{
    display: none;
}

/* Removed small profile picture in the burger menu */

.avatar{
    display: none;
}

/*edit abscence*/  
.span12{
    display: flex;
    align-items: center;
}
/* fix display issue with student profile picture*/

.img-polaroid.avatar{
    display: block;
    width: 100% !important;
}

/*Remove the stage section */

.social-box.social-orange.social-bordered{
    display: none;
}

/* class added to anything that just need a display:none */

.remove{
    display: none;
}

/* Allow the student info section to take all the available space */

.student-override{
    width: 100% !important;
}

/* add a green background to the student age to make it pop */

.overide-badge{
    background-color: rgb(46, 190, 46) !important;
}

.schoole_pastil{
    float: none !important;
    border: none !important;
    background: none !important;
}
.navbar{
    background-color: red !important;
}

.avatar{
    display: none;
}

.note_commentaire{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}

.dd-unite-student{
    border: 0px !important;
    background-color: white;
}

.dd-handle{
    border: 15px !important;
}
