.alert-info{
    display: none;    


}
.btn{
    border-radius: 10px;
    margin-top: 10px;
}

.btn.btn-small.dropdown-toggle{
    border-radius: 10px;
}

.span6{
    display: none;
}